<nav class="navbar fixed-top">
  <p id="header">Custom Hamburger Sandwich Co. Ltd.</p>
</nav>


<div class="container">



  <div id="carouselExampleFade" class="carousel slide carousel-fade" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-interval="4000">
        <img
          src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_all-american-burger.jpg"
          class="d-block w-100" alt="classic hamburger">
      </div>
      <div class="carousel-item" data-interval="4000">
        <img
          src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_cheesy-mushroom-mania-burger.jpg"
          class="d-block w-100" alt="cheesy mushroom burger">
      </div>
      <div class="carousel-item" data-interval="4000">
        <img
          src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_parmesan-sourdough-cheeseburger.jpg"
          class="d-block w-100" alt="parmasan sourdough patty melt">
      </div>
      <div class="carousel-item" data-interval="4000">
        <img
          src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_double-honey-bbq-burger.jpg"
          class="d-block w-100" alt="double honey bbq burger">
      </div>

       <div class="carousel-item" data-interval="4000">
        <img
          src="https://d9hyo6bif16lx.cloudfront.net/live/img/production/detail/menu/lunch-dinner_burgers_veggie-burger.jpg"
          class="d-block w-100" alt="veggie burger">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

</div>

<div class="container">

  <div class="menu">

    <div class="row order">
      <div class="col-lg">
        <h2>Order a Burger</h2>
        <form class="create-form">

          <div class="form-group">
            <label for="bu">Burger Name:</label>
            <input type="text" id="bu" name="burger_name">
          </div>

          <div class="form-group">
            <label for="devoured">Devoured?</label><br>
            <input type="radio" name="devoured" value="1"> Devoured!<br>
            <input type="radio" name="devoured" value="0" Checked> Ready to eat
          </div>

          <button type="submit" class="btn btn-outline-success btn-lg">Add Burger</button>
        </form>
      </div>
    </div>



    <div class="row fresh">
      <div class="col-lg">

        <h2>Burgers that are ready to be devoured!</h2>

        <ul>
          {{#each burgers}}
          {{#unless devoured}}
          {{> burgers/burger-block devoured=true}}
          {{/unless}}
          {{/each}}
        </ul>
      </div>
    </div>





    <div class="row devoured">
      <div class="col-lg">
        <h2>Burgers that have been devoured!</h2>

        <ul>
          {{#each burgers}}
          {{#if devoured}}
          {{> burgers/burger-block devoured=false}}
          {{/if}}
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>
</div>