

body { background-image: url("https://i.imgur.com/KCewFco.png");    
    background-repeat: repeat;
}


.navbar {
    background-color: rgba(255, 0, 0, 0.061);
}
.menu {
    background-color: rgba(27, 27, 27, 0.822);
    color: rgb(255, 254, 191);
    
}

h1 {
    margin: auto;
    font-family: 'Shrikhand', cursive;
   
}

.carousel {
    width: 70%;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 5%;
}